* {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

body {
  background-color: rgb(243, 130, 24);
}

div {
  background-color: rgb(255, 222, 173);
  border-radius: 15px;
  width: 50%;
  min-width: 535px;
  margin: 0 auto;
  padding: 1em;
}

img {
  width: 350px;
  height: auto;
  border-radius: 25%;
  border-style: solid;
  border-color: rgb(100, 33, 0);
  border-width: 3px;
}

h1 {
  font-size: 50px;
  color: rgb(165, 42, 42);
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: -0.12em;
  margin-bottom: 0.25em;
}

ul {
  list-style: none;
}

ul li {
  margin: 1em;
}

ul li a {
  font-family: monospace;
  font-size: 16px;
  color: rgb(58, 23, 23);
  font-weight: 600;
}
